@import "tailwindcss";

/* Language font family */
:lang(zh) {
  font-family: var(--zh-font);
}
:lang(jp) {
  font-family: var(--jp-font);
}

/* Body background */
body {
  @apply bg-white dark:bg-black dark:text-white;
  background-image: url("../assets/bright-squares.png");
}

/* Container */
.frame {
  @apply bg-white/50 border border-neutral-100 shadow;
  @apply mx-auto my-4 w-full lg:max-w-5xl lg:my-12;
  @apply dark:bg-neutral-700/70 dark:border-neutral-600 dark:shadow-neutral-600;
}
