---
// Components
import { Icon } from "astro-icon/components";
---

<section
  class="border-b-2 border-neutral-300 px-4 text-red-500 dark:border-neutral-600">
  <h2 class="flex font-bold gap-2 items-center my-4 text-2xl">
    <Icon name="mdi:warning-outline" />叠甲声明
  </h2>
  <p class="my-4">
    本网站上所有关于番剧及其角色的评论以及评分<b>仅代表本人的主观观点</b
    >，与其他个人评价无关，且<b>不构成</b>、<b>不表示</b
    >任何针对番剧的推荐意见；若通过本站了解某番剧且在观看后让您产生了不满意的情绪后果，与本站<b
      >无责任关系</b
    >。
  </p>
</section>
