---
import { SITE_NAME } from "@/constants";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";
import "dayjs/locale/zh";

// Constants
dayjs.extend(localizedFormat);
dayjs.extend(utc);
dayjs.extend(timezone);
const now = dayjs().tz("Asia/Shanghai");
---

<footer
  is="x-footer"
  class="border-t-2 border-neutral-300 p-4 text-sm dark:border-neutral-600">
  <p>
    &copy; {new Date().getFullYear()}
    {SITE_NAME}<span class="spliter"></span><span id="vercount_value_site_pv"
      >…</span
    ><span class="spliter"></span><span id="vercount_value_site_uv">…</span>
  </p>
  <p>
    使用 <a href="https://astro.build/" target="_blank" rel="noopener noreferer"
      >Astro</a
    > 强力驱动<span class="spliter"></span>构建于<time datetime={now.format()}
      >{now.locale("zh").format("LL")}</time
    ><span class="spliter"></span><a
      href="https://github.com/SamuNatsu/bangumi"
      target="_blank"
      rel="noopener noreferer">GitHub</a
    >
  </p>
  <p>
    本站所有内容除另有声明外，均在 <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans"
      target="_blank"
      rel="noopener noreferer"
      >知识共享 署名-非商业性使用-相同方式共享 4.0 国际（CC BY-NC-SA
      4.0）许可协议</a
    > 下提供
  </p>
</footer>

<style>
  @import "tailwindcss";

  a {
    @apply text-blue-500 hover:text-red-500;
  }

  span.spliter {
    @apply mx-2;
  }
</style>

<script>
  import { formatNumber, splitNumber } from "@/utils/number";

  class XFooter extends HTMLElement {
    public connectedCallback() {
      const pvEl = this.querySelector<HTMLSpanElement>(
        "#vercount_value_site_pv"
      )!;
      const pvOb = new MutationObserver(() => {
        const count = parseInt(pvEl.innerText);
        pvEl.title = splitNumber(count);
        pvEl.innerText = `总浏览量 ${formatNumber(count)}`;

        pvOb.disconnect();
      });
      pvOb.observe(pvEl, {
        subtree: true,
        childList: true,
        characterData: true
      });

      const uvEl = this.querySelector<HTMLSpanElement>(
        "#vercount_value_site_uv"
      )!;
      const uvOb = new MutationObserver(() => {
        const count = parseInt(uvEl.innerText);
        uvEl.title = splitNumber(count);
        uvEl.innerText = `总访客数 ${formatNumber(count)}`;

        uvOb.disconnect();
      });
      uvOb.observe(uvEl, {
        subtree: true,
        childList: true,
        characterData: true
      });
    }
  }
  customElements.define("x-footer", XFooter, { extends: "footer" });
</script>
